Repository AutomationSolutionz/Zeuz_Python_Node, pull requests merged in 2021-06, with the labels that each got.

#61 Partial case insensitive search
  CHANGELOG.md
  Framework/Built_In_Automation/Shared_Resources/LocateElement.py
  Framework/Version.txt
Labels: Locate-element

#62 Attachement fix
  CHANGELOG.md
  Drivers/Built_In_Driver.py
  Framework/Built_In_Automation/Sequential_Actions/common_functions.py
  Framework/Built_In_Automation/Sequential_Actions/sequential_actions.py
  Framework/MainDriverApi.py
  Framework/Version.txt
  node_cli.py
Labels: node-internals

#65 fix: auto close db connectinos for db actions
  Framework/Built_In_Automation/Database/BuiltInFunctions.py
Labels: action-db
