Repository AutomationSolutionz/Zeuz_Python_Node, pull requests merged in 2022-03, with the labels that each got.

#129 Upload window action
  Framework/Built_In_Automation/Desktop/Windows/BuiltInFunctions.py
  Framework/Built_In_Automation/Sequential_Actions/action_declarations/selenium.py
  Framework/Built_In_Automation/Web/Selenium/BuiltInFunctions.py
  Framework/Utilities/CommonUtil.py
Labels: action-web

#136 Add optional parameter read as json in Read Text File action
  CHANGELOG.md
  Framework/Built_In_Automation/Sequential_Actions/common_functions.py
Labels: documentation, action-common

#142 Dev
  Apps/Windows/ZeuZ_Snapshot.py
  Apps/Windows/ZeuZ_Windows_Inspector.py
  CHANGELOG.md
  Framework/Built_In_Automation/Desktop/Windows/BuiltInFunctions.py
  Framework/Built_In_Automation/Sequential_Actions/action_declarations/common.py
  Framework/Built_In_Automation/Sequential_Actions/action_declarations/selenium.py
  Framework/Built_In_Automation/Sequential_Actions/common_functions.py
  Framework/Built_In_Automation/Sequential_Actions/sequential_actions.py
  Framework/Built_In_Automation/Sequential_Actions/utility.py
  Framework/Built_In_Automation/Web/Selenium/BuiltInFunctions.py
  Framework/MainDriverApi.py
  Framework/Utilities/CommonUtil.py
  Framework/Version.txt
  Framework/edge_module/LICENSE
  Framework/edge_module/README.md
  Framework/edge_module/msedge/__init__.py
  Framework/edge_module/msedge/selenium_tools/__init__.py
  Framework/edge_module/msedge/selenium_tools/options.py
  Framework/edge_module/msedge/selenium_tools/remote_connection.py
  Framework/edge_module/msedge/selenium_tools/service.py
  Framework/edge_module/msedge/selenium_tools/webdriver.py
  Framework/edge_module/setup.py
  Framework/edge_module/tests/edge_driver_test.py
  node_cli.py
  requirements-linux.txt
  requirements-mac.txt
  requirements-win.txt
  requirements.txt
Labels: action-web, action-windows, node-internals, action-common

#148 fix execute js action name + optional variable not working
  Framework/Built_In_Automation/Web/Selenium/BuiltInFunctions.py
Labels: action-web
